<div class="container-fluid">
	<div class="jumbotron main_header">
	    <div class="left-jumbotron">
	    	<ul>
	    		<li>Archive</li>
	    		<li>What If?</li>
	    		<li>Blag</li>
	    		<li>Store</li>
	    		<li>About</li>
	    	</ul>
	    </div>
	    <div class="right-jumbotron">
	    	<div class="logo-container">
		    	<span class="left-container">
		    		<%= image_tag src="xkcd-logo.png" %>
		    	</span>
		    	<span class="right-container">
			    	<p>A Developer of sarcasm,<br/>
			    	math, and language.</p>
			    </span>
		    </div>
	    	<p class="tagline">Bryan Updates Everyday</p>
    	</div>
	</div>
	<div class="container main">
		<h1>MY HOBBY:</h1>
		<h4>EMBEDDING NP-COMPLETE PROBLEMS IN RESTRAUNT ORDERS</h4>
		<%= form_tag import_pages_path, multipart: true do %>
		  <label for="file">File to Upload</label> <%= file_field_tag "file", class: 'import-file' %>
		  <%= submit_tag "Import" %>
		<% end %>

		<%= image_tag src="np-complete.png"%>
	</div>
</div>